[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
coqui-tts = "*"
tts = "*"
soundfile = "*"
python-dotenv = "*"
librosa = "*"
colorama = "*"
optimum = "*"
accelerate = "*"
torch = "*"
openai-whisper = "*"
transformers = {ref = "v4.40.2", git = "git+https://github.com/huggingface/transformers.git"}
webrtcvad = "*"
watchdog = "*"
flask-socketio = "*"
pydub = "*"
pymediainfo = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.9"
